<%= stylesheet_link_tag "/css/mystyle.css" %>
<style>

.RachelTitle {
	text-align:center;
}

.bgJumbo {
	text-align:center;
}

.button {
	color:white;
}
.spacing {
	height:1px;
	width:20px;
}

body {
	background: url("/images/nature.jpg");
	background-size: cover;
}


</style>
<body>
<% if user_signed_in? %>
	<p>
		Welcome: <%= current_user.email %>
		<%= link_to('signout', destroy_user_session_path, :method => :delete) %> 
		<% @devices = current_user.devices %>
		<br>
		<%= link_to('change password', edit_user_registration_path) %> <br>	
		<table style="border:1px solid black">
		<tr>
			<th style="border:1px solid black"> Device Number </th>
			<th style="border:1px solid black"> Latitude </th>
			<th style="border:1px solid black"> Longitude </th>
			<th style="border:1px solid black"> Show </th>
			<th style="border:1px solid black"> Delete </th>
		</tr>
		<% @i = 0 %>
		<% @devices.each do |d| %>
			<% @i += 1 %>
			<tr>
				<td style="border:1px solid black"> <%= @i %>
				<td style="border:1px solid black"><%= d.lat %></td>
				<td style="border:1px solid black"><%= d.long %> </td>
				<td style="border:1px solid black"><%= link_to('show', d)%> </td>
				<td style="border:1px solid black"> <%= link_to('delete', d, :method => :delete) %> </td>

			</tr>
		<% end %>
		</table>

	</p>
<% else %>
<div class="container">
  <div class="jumbotron bgJumbo" style="border: 2px solid black">
    <h1 class="RachelTitle">Find My Phone</h1> 
    <br>
    
    <a href="/users/sign_in">
		<button class="button">Sign in</button></a>
	<a href="/users/sign_up">
		<button class="button">Register</button></a>
  </div>
  
</div>


<% end %>
</body>