<% if user_signed_in? and current_user.id == @device.user_id %>
  <body>
    <div class="container">
      <div class="opaque jumbotron">
        <% @devices = current_user.devices %>

        <h5 class="center"> Location of <%= @device.deviceName %> on the map<br>
        Latitude: <%=@device.lat%> <br>
        Longtitude: <%=@device.long%> <br>
        <%= @device.ipauth %> <br>
        </h5>

        <div class = "row">
          <div class = "col-xs-10 text-left" >
            <%= link_to 'Home', '/welcom/index', :class => 'btn btn-info' %>
            <%= link_to 'Back', :back, :class => 'btn btn-primary' %>
          </div>

          <div class = "col-xs-2" >
            <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">See All Devices
              <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <% @devices.each do |d| %>
                  <li style="text-align: right"><%= link_to d.deviceName, d, :class => "btn btn-block btn-sm btn-default"%></li>
                <% end %>
              </ul>
            </div>
          </div> 
        </div> 
        <br>

        <div id="map"></div>

        <div class="center"> 
        <br>
        <%= link_to "Sound Alarm", {:controller => "devices", :action => "ping", :message => "alarm", :id => @device.id}, :class => "right btn btn-lg btn-danger", method: :post %> </a> 
        </div>   

      </div> <!-- jumbotron -->
    </div> <!-- container -->
    <script>
      var myMap;
      myPos = {lat: 33, lng: 33};
      function initMap() {
        var uluru = {lat: <%=@device.lat%>, lng: <%=@device.long%>};
        myMap = new google.maps.Map(document.getElementById('map'), {
          zoom: 10,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: myMap
        });
      }
      function test() {
        myMap.setCenter(myPos);
        var marker = new google.maps.Marker({
          position: myPos,
          map: myMap
        })
      }
    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBZ9t78pwT-jNWdoHbujpQMFQliDe3sRgg&callback=initMap">
    </script> <br> <br>
  </body>
</head>
<%else%>
<body>
  <h1>No user signed in</h1>
</body>
<%end%>