<% if user_signed_in? and current_user.id == @device.user_id %>

<head>
    <style>
       #map {
        height: 500px;
        width: 100%;
       }
    </style>
  </head>
  <body>
    
    <div class="container">
      <div class="jumbotron" style="align-content:center;border: 2px solid black">
        <% @devices = current_user.devices %>
        <h5 style="text-align:center;"> Location of <%= @device.deviceName %> on the map<br>
        Latitude: <%=@device.lat%> <br>
        Longtitude: <%=@device.long%> <br>
        </h3>
        <div class = "row">
          <div class = "col-xs-10 text-left" >
            <a href="/welcom/index"><button type="button" class="btn btn-info">Home</button> </a>
            <%= link_to 'Back', :back, :class => 'btn btn-primary' %> 
          </div>

          <div class = "col-xs-2" >
            <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">See All Devices
              <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <% @devices.each do |d| %>
                  <li style="text-align: right"><%= link_to d.deviceName, d, :class => "btn btn-block btn-sm btn-default"%></li>
                <% end %>
              </ul>
            </div>
          </div> 
        </div> 
        <br>

        <div id="map"></div>
        <div style="text-align:center;"> 
        <br>
        <a style="align-content:right"> <%= link_to "Lock Device",href="#", :class => "btn btn-lg btn-success" %> </a>
        <a style="align-content:right"> <%= link_to "Sound Alarm",href="#", :class => "btn btn-lg btn-danger" %> </a> 
        </div>        
    </div>
      </div>
    <script>
      var myMap;
      myPos = {lat: 33, lng: 33};
      function initMap() {
        var uluru = {lat: <%=@device.lat%>, lng: <%=@device.long%>};
        myMap = new google.maps.Map(document.getElementById('map'), {
          zoom: 10,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: myMap
        });
      }
      function test() {
        myMap.setCenter(myPos);
        var marker = new google.maps.Marker({
          position: myPos,
          map: myMap
        })
      }
    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBZ9t78pwT-jNWdoHbujpQMFQliDe3sRgg&callback=initMap">
    </script> <br> <br>
  </body>
</head>
<%else%>
<body>
  <h1>No user signed in</h1>
</body>
<%end%>