<% if user_signed_in? and current_user.id == @device.user_id %>
<head>
    <style>
       #map {
        height: 500px;
        width: 100%;
       }
    </style>
  </head>
  <body>
    
    <div class="container">
      <div class="jumbotron" style="align-content:center;">
        <h3 style="text-align:center;"> Hello, <%= current_user.email %><br> Here is the location of your device on the map at<br>
        Latitude: <%=@device.lat%> <br>
        Longtitude: <%=@device.long%> <br>
        </h3>
        <a href="/welcom/index"><button type="button" class="btn btn-primary">Back</button> </a>

        <div id="map"></div>
        <div style="text-align:center;">
          <h3> Other Devices </h3>
          
        </div>
    </div>
      </div>
    <script>
      var myMap;
      function initMap() {
        var uluru = {lat: <%=@device.lat%>, lng: <%=@device.long%>};
        myMap = new google.maps.Map(document.getElementById('map'), {
          zoom: 10,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: myMap
        });
        myMap.setCenter(new google.maps.LatLang(0,0));
      }

      function test() {
        myMap.panTo({lat: 33, lng: 33});
      }
    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBZ9t78pwT-jNWdoHbujpQMFQliDe3sRgg&callback=initMap">
    </script> <br> <br>
  </body>
</head>
<%else%>
<body>
  <h1>No user signed in</h1>
</body>
<%end%>