<!DOCTYPE html>
<html>
  <head>
    <title>Devicefinder</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
    <p class="notice" style="color:white"><%= notice %></p>
    <p class="alert" style="color:white"><%= alert %></p>
    <%= yield %>
</html>
